.spacer {
  height: 10vh;
}

.main-banner {
  width: 100;
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-title {
  color: purple;
  font-size: 4rem;
  font-family: 'Nunito Sans', sans-serif;
}
